.initiateCallButton {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  margin: 0vw 16vw;
  padding: 1rem;
  align-items: center;
  background: var(--Background-Bluish, #dae8ff);
  cursor: pointer;
}
.initiateCallButton span {
  gap: 0.5rem;
  border-radius: var(--0.25rem, 0.25rem);
  color: #0566ff;
  font-family: 'Outfit', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  white-space: nowrap;
}
.openedModal {
  border-radius: var(--16px, 16px);
  background: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  width: 40vw;
  padding: var(--24px, 24px);
  flex-direction: column;
  box-shadow: 24;
  border: '2px solid #000';
}
.deleteOpenedModal {
  border-radius: var(--16px, 16px);
  background: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  width: 30vw;
  padding: var(--24px, 24px);
  flex-direction: column;
  box-shadow: 24;
  border: '2px solid #000';
}
.reminder_modal_title {
  color: #000;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  border-bottom: 1px solid var(--Borders-Light-Grey, #d4dbe5);
}
.modal_close {
  color: #647491;
  display: flex;
  width: 27px;
  height: 27px;
  padding: 8.25px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -8px;
  top: -8px;
  border-radius: 14px;
  border: 1px solid var(--Background-White, #fff);
  background: var(--Background-White, #fff);
  box-shadow: 0px 163px 46px 0px rgba(191, 191, 191, 0),
    0px 104px 42px 0px rgba(191, 191, 191, 0.01),
    0px 59px 35px 0px rgba(191, 191, 191, 0.05),
    0px 26px 26px 0px rgba(191, 191, 191, 0.09),
    0px 7px 14px 0px rgba(191, 191, 191, 0.1);
}

.reminder_modal_title {
  padding: 5px 0 15px 0;
}
.callImageIcon {
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: #e0f6ec;
}
.noteBox::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
/* .noteBox::-webkit-scrollbar-track { */
/* background: whitesmoke;  */
/* color of the tracking area */
/* } */
.noteBox::-webkit-scrollbar-thumb {
  background-color: rgb(163, 165, 167); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
.AttachmentFooter {
  display: flex;
  align-items: center;
  color: var(--Primary-Default, #0566ff);
  text-align: center;
  /* Links/Underline Text */
  font-family: 'Outfit', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.3125rem */
  text-decoration-line: underline;
}
.NotesFooter {
  display: flex;
  justify-content: end;
}

.Cancel {
  display: flex;
  height: 2.5rem;
  padding: var(--Spacing-0rem, 0rem) var(--1rem, 1rem);
  justify-content: center;
  align-items: center;
  gap: var(--0.5rem, 0.5rem);
  color: var(--Primary-Default, #0566ff);
  text-align: center;

  /* Links/Btn Text */
  font-family: Outfit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.3125rem */
  cursor: pointer;
}

.createNote {
  display: flex;
  height: 2.5rem;
  padding: var(--Spacing-0rem, 0rem) var(--1rem, 1rem);
  justify-content: center;
  align-items: center;
  gap: var(--0.5rem, 0.5rem);
  border-radius: var(--0.25rem, 0.25rem);
  background: var(--Background-Greyish, #f6f7f9);
  color: var(--Text-Light-Grey, #647491);
  text-align: center;

  /* Links/Btn Text */
  font-family: 'Outfit', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.3125rem */
  cursor: pointer;
}
.createNoteActive {
  display: flex;
  height: 2.5rem;
  padding: var(--Spacing-0rem, 0rem) var(--1rem, 1rem);
  justify-content: center;
  align-items: center;
  gap: var(--0.5rem, 0.5rem);
  border-radius: 0.25rem;
  background: var(--Primary-Default, #0566ff);
  color: var(--White, #fff);
  text-align: center;
  cursor: pointer;
  /* Links/Btn Text */
  font-family: 'Outfit', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.3125rem */
}
.notestextArea {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 0 0;
  border-radius: 0.5rem;
  border: 1px solid var(--Borders-Light-Grey, #d4dbe5);
  background: var(--Icons-White, #fff);
  margin: 0 0 0.5rem 0.5rem;
}
.notestext {
  display: flex;
  height: 3.9375rem;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--Text-Black, #080f1a);
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
  /* Body/Medium */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}
.notestext span {
  width: 95%;
}
.notestext img {
  display: flex;
  justify-content: end;
  width: 5%;
  height: 1rem;
  cursor: pointer;
  margin-left: 10px;
}
.notesDate {
  color: var(--Text-Light-Grey, #647491);
  font-family: 'Outfit', sans-serif;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 0.9375rem */
}
.noteIcon {
  width: 1.7rem;
  height: 1.7rem;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: var(--1rem, 1rem);
  background: var(--Communication-Color-Notes-Bg, #fee9e7);
}
.ClickedNoteHeader {
  display: flex;
  justify-content: space-between;
}
.ClickedNoteHeader img {
  cursor: pointer;
}
.ClickedNoteText {
  height: 40vh;
  overflow: auto;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid #d4dbe5;
  margin-left: 20px;
}
.deleteNoteText {
  color: var(--Text-Grey, #354869);

  /* Body/Medium */
  font-family: 'Outfit', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}
.DeleteNotesFooter {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
.DeleteNoteButton {
  display: flex;
  height: 2.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: var(--Alerts-Red, #f94839);
  color: var(--White, #fff);
  text-align: center;
  cursor: pointer;
  /* Links/Btn Text */
  font-family: 'Outfit', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.3125rem */
}

.delete_reminder_modal_title {
  color: #000;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 1rem;
}
