@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.phoneReply {
  display: flex;
  max-width: 22.5rem;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  gap: 0.25rem;
  border-radius: 0.5rem;
  border: var(--0PX, 1px) solid var(--Communication-Color-SMS-FG, #d4dbe5);
  margin-left: 1vw;
}

.phoneReplyDateTime {
  color: var(--Text-Light-Grey, #647491);
  font-family: 'Outfit', sans-serif;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.openedModal {
  border-radius: var(--16px, 16px);
  background: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  width: 60%;
  padding: var(--24px, 24px);
  flex-direction: column;
  box-shadow: 24;
}

.reminder_modal_title {
  color: #000;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  border-bottom: 1px solid var(--Borders-Light-Grey, #d4dbe5);
}

.modal_close {
  color: #647491;
  display: flex;
  width: 27px;
  height: 27px;
  padding: 8.25px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -8px;
  top: -8px;
  border-radius: 14px;
  border: 1px solid var(--Background-White, #fff);
  background: var(--Background-White, #fff);
  box-shadow: 0px 163px 46px 0px rgba(191, 191, 191, 0),
    0px 104px 42px 0px rgba(191, 191, 191, 0.01),
    0px 59px 35px 0px rgba(191, 191, 191, 0.05),
    0px 26px 26px 0px rgba(191, 191, 191, 0.09),
    0px 7px 14px 0px rgba(191, 191, 191, 0.1);
}

.reminder_modal_title {
  padding: 5px 0 15px 0;
}

.callImageIcon {
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: #e0f6ec;
}

.audio {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid #d4dbe5;
  background: #fff;
}

.audio audio {
  height: 2rem;
}

.initiateCallButton {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  margin: 0vw 16vw;
  padding: 1rem;
  align-items: center;
  background: var(--Background-Bluish, #dae8ff);
}

.initiateCallButton span {
  gap: 0.5rem;
  border-radius: var(--0.25rem, 0.25rem);
  color: #0566ff;
  font-family: 'Outfit', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  white-space: nowrap;
}

.phoneBox {
  height: 40vh;
  overflow: scroll;
}

.AuditorphoneBox {
  height: 57vh;
  overflow-y: scroll;
}

.phoneBox::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

/* .phoneBox::-webkit-scrollbar-track { */
/* background: whitesmoke;  */
/* color of the tracking area */
/* } */
.phoneBox::-webkit-scrollbar-thumb {
  background-color: rgb(163, 165, 167);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

.AuditorphoneBox::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

/* .AuditorphoneBox::-webkit-scrollbar-track { */
/* background: whitesmoke;  */
/* color of the tracking area */
/* } */
.AuditorphoneBox::-webkit-scrollbar-thumb {
  background-color: rgb(163, 165, 167);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}